In [104]:
import pandas as pd

In [105]:
base_original = pd.read_csv('dados_coletados80k.csv')

# Análise Exploratória

In [106]:
#Visualização da tabela sem nenhuma alteração - primeiras e ultimas 5 linhas
base_original

,Contrato,Idade,Sexo,Valor_Renda,UF_Cliente,Perc_Juros,Prazo_Emprestimo,Data_Contratacao,Prazo_Restante,VL_Emprestimo,...,Qt_Renegociacao,Estado_Civil,Escolaridade,Possui_Patrimonio,VL_Patrimonio,QT_Parcelas_Atraso,QT_Dias_Atraso,Saldo_Devedor,Total_Pago,Possivel_Fraude
0,322090928715,42,M,4000.0,MA,17.0,140,2022-11-18,143,160000.0,...,2,SOLTEIRO(A),NaN,N,0.0,10,284.0,187861.70,1617.36,Sim
1,321990634715,31,M,3000.0,MA,20.0,28,2021-07-23,0,14000.0,...,1,CASADO (A),NaN,N,0.0,26,771.0,16615.93,1239.98,Sim
2,321965373715,36,F,2100.0,SP,24.0,180,2021-04-01,149,60000.0,...,1,CASADO (A),Nenhum,N,0.0,27,802.0,74443.40,1346.64,Sim
3,321967133715,28,M,2155.0,DF,19.0,190,2021-04-10,159,180000.0,...,2,SOLTEIRO(A),Nenhum,N,0.0,2,41.0,196812.41,22713.63,Nao
4,322098744715,21,F,4300.0,MG,22.0,100,2022-12-28,94,30000.0,...,1,SOLTEIRO(A),Ensino Médio,N,0.0,6,162.0,36114.39,900.80,Sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80138,322021677715,27,F,3220.0,GO,20.0,48,2021-11-30,40,20000.0,...,5,SOLTEIRO(A),Nenhum,N,0.0,0,NaN,5815.06,14227.15,Nao
80139,322076873715,46,F,3156.0,MG,20.0,90,2022-09-12,91,50000.0,...,0,DIVORCIADO,Nenhum,N,0.0,0,NaN,51089.20,9441.80,Nao
80140,322060919715,37,F,3000.0,SP,22.0,170,2022-06-20,159,150000.0,...,1,SOLTEIRO(A),NaN,N,0.0,0,NaN,173550.33,12481.15,Nao
80141,321984050715,23,M,2500.0,PR,18.0,100,2021-06-28,84,50000.0,...,0,SOLTEIRO(A),NaN,N,0.0,21,617.0,55837.58,4165.00,Sim
80142,322055893715,34,M,1918.0,MA,21.0,80,2022-05-25,87,40000.0,...,1,SOLTEIRO(A),NaN,N,0.0,4,103.0,42085.34,7171.13,Nao

In [107]:
#Verificação da quantidade de linhas e colunas contidas na base de dados
base_original.shape

(80143, 24)

In [108]:
#Informação dos atributos contidos nas colunas
base_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80143 entries, 0 to 80142
Data columns (total 24 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Contrato                          80143 non-null  int64
 1   Idade                             80143 non-null  int64
 2   Sexo                              80143 non-null  object
 3   Valor_Renda                       80143 non-null  float64
 4   UF_Cliente                        80143 non-null  object
 5   Perc_Juros                        80143 non-null  float64
 6   Prazo_Emprestimo                  80143 non-null  int64
 7   Data_Contratacao                  80143 non-null  object
 8   Prazo_Restante                    80143 non-null  int64
 9   VL_Emprestimo                     80143 non-null  float64
 10  VL_Emprestimo_ComJuros            80143 non-null  float64
 11  QT_Total_Parcelas_Pagas           80143 non-null  int64
 12  QT_Total_Parcelas_Pagas_EmDia     80143 non-null  int64
 13  QT_Total_Parcelas_Pagas_EmAtraso  80143 non-null  int64
 14  Qt_Renegociacao                   80143 non-null  int64
 15  Estado_Civil                      80143 non-null  object
 16  Escolaridade                      22845 non-null  object
 17  Possui_Patrimonio                 80143 non-null  object
 18  VL_Patrimonio                     80143 non-null  float64
 19  QT_Parcelas_Atraso                80143 non-null  int64
 20  QT_Dias_Atraso                    54348 non-null  float64
 21  Saldo_Devedor                     80143 non-null  float64
 22  Total_Pago                        80143 non-null  float64
 23  Possivel_Fraude                   80143 non-null  object
dtypes: float64(8), int64(9), object(7)
memory usage: 14.7+ MB

In [109]:
#Análise descritiva gerada automaticamente pelo panda
base_original.describe()

,Contrato,Idade,Valor_Renda,Perc_Juros,Prazo_Emprestimo,Prazo_Restante,VL_Emprestimo,VL_Emprestimo_ComJuros,QT_Total_Parcelas_Pagas,QT_Total_Parcelas_Pagas_EmDia,QT_Total_Parcelas_Pagas_EmAtraso,Qt_Renegociacao,VL_Patrimonio,QT_Parcelas_Atraso,QT_Dias_Atraso,Saldo_Devedor,Total_Pago
count,8.014300e+04,80143.000000,8.014300e+04,80143.000000,80143.000000,80143.000000,80143.000000,80143.000000,80143.000000,80143.000000,80143.000000,80143.000000,80143.000000,80143.000000,54348.000000,80143.00000,80143.000000
mean,3.220237e+11,38.819048,2.930862e+04,19.486379,102.328388,93.276281,72847.775851,83774.942228,10.708359,5.244750,2.336523,1.304868,1.447413,10.653108,475.260543,78622.32092,9687.978343
std,4.469701e+07,12.532954,2.748166e+06,3.560528,62.322217,70.639200,87407.933950,100519.124043,9.306558,6.213262,3.972394,1.267429,355.104316,10.427652,269.794330,102318.94506,19090.624776
min,3.219449e+11,4.000000,0.000000e+00,4.493100,14.000000,-18.000000,3000.000000,3450.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11.000000,0.00000,0.000000
25%,3.219850e+11,29.000000,2.050000e+03,18.000000,55.000000,36.000000,15000.000000,17250.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,284.000000,12122.76500,1052.155000
50%,3.220242e+11,37.000000,3.000000e+03,20.000000,80.000000,78.000000,40000.000000,46000.000000,8.000000,2.000000,1.000000,1.000000,0.000000,9.000000,468.000000,35489.36000,3951.390000
75%,3.220627e+11,46.000000,5.000000e+03,21.000000,170.000000,156.000000,100000.000000,115000.000000,18.000000,7.000000,3.000000,2.000000,0.000000,20.000000,708.000000,117783.25000,10886.240000
max,3.220997e+11,103.000000,7.650000e+08,28.000000,240.000000,227.000000,500000.000000,575000.000000,66.000000,66.000000,31.000000,38.000000,100000.000000,34.000000,1014.000000,626261.27000,465821.390000

In [110]:
#Avaliar o período dos dados coletados
inicio = pd.to_datetime(base_original['Data_Contratacao']).dt.date.min()
fim = pd.to_datetime(base_original['Data_Contratacao']).dt.date.max()
print('Período dos dados - De:', inicio, 'Até:',fim)

Período dos dados - De: 2020-11-25 Até: 2023-02-22

In [111]:
#Verificação de dados nulos
base_original.isnull().sum()

#Escolaridade e QT_Dias_Atraso são as colunas com mais atributos nulos

Contrato                                0
Idade                                   0
Sexo                                    0
Valor_Renda                             0
UF_Cliente                              0
Perc_Juros                              0
Prazo_Emprestimo                        0
Data_Contratacao                        0
Prazo_Restante                          0
VL_Emprestimo                           0
VL_Emprestimo_ComJuros                  0
QT_Total_Parcelas_Pagas                 0
QT_Total_Parcelas_Pagas_EmDia           0
QT_Total_Parcelas_Pagas_EmAtraso        0
Qt_Renegociacao                         0
Estado_Civil                            0
Escolaridade                        57298
Possui_Patrimonio                       0
VL_Patrimonio                           0
QT_Parcelas_Atraso                      0
QT_Dias_Atraso                      25795
Saldo_Devedor                           0
Total_Pago                              0
Possivel_Fraude                         0
dtype: int64

## Avaliação das informações sem o tratamento de dados

In [112]:
# Avaliando o maior e menor valor da variavel Valor_Renda
print('Maior Renda:', base_original['Valor_Renda'].max())
print('Menor Renda:', base_original['Valor_Renda'].min())

Maior Renda: 765000000.0
Menor Renda: 0.0

In [113]:
# Avaliando o maior e menor valor da variavel Prazo_Restante
print('Maior quantidade de dias restante: ', base_original['Prazo_Restante'].max())
print('Menor quantidade de dias restante: ', base_original['Prazo_Restante'].min())

#retirar quantidade de dias negativos, pois não faz sentido

Maior quantidade de dias restante:  227
Menor quantidade de dias restante:  -18

# Tratamento de dados

In [114]:
#Verificação dos dados contidos nas colunas que serão tratadas
display(base_original['Estado_Civil'].unique())

display (base_original['Sexo'].unique())

display (base_original['Escolaridade'].unique())

display (base_original['Possui_Patrimonio'].unique())

display (base_original['Possivel_Fraude'].unique())

array(['SOLTEIRO(A)', 'CASADO (A)', 'OUTRO', 'DIVORCIADO', 'VIÚVO(A)',
       'UNIÃO ESTAVEL', 'SEPARADO JUDICIALMENTE', 'NENHUM'], dtype=object)

array(['M', 'F'], dtype=object)

array([nan, 'Nenhum', 'Ensino Médio', 'Ensino Superior',
       'Ensino Fundamental', 'Pós Graduação / Mestrado / Doutorado'],
      dtype=object)

array(['N', 'S'], dtype=object)

array(['Sim', 'Nao'], dtype=object)

## Padronização dos dados

### Estado Civil 

SOLTEIRO(A)	= 1  <br> 
CASADO (A)	= 2  <br> 
DIVORCIADO	= 3 <br> 
OUTRO = 4 <br> 
VIÚVO(A) = 5 <br> 
UNIÃO ESTAVEL = 6 <br> 
SEPARADO JUDICIALMENTE = 7 <br> 
NENHUM = 8
### Sexo

Feminino = 1  <br> 
Masculino = 2

### Escolaridade

nan = 0 <br>
Nenhum = 1 <br>
Ensino Médio = 2 <br>
Ensino Superior = 3 <br>
Ensino Fundamental = 4 <br>
Pós Graduação / Mestrado / Doutorado = 5

### Possui patrimonio
Sim = 1 <br>
Não = 2

### Possível Fraude

Sim = 1 <br>
Não = 2

In [115]:
base_tratada = base_original

In [116]:
#Criando um dificionario que mapeia a alteração dos dados 

mapeamento_estado_civil = {
    'SOLTEIRO(A)': 1,
    'CASADO (A)': 2,
    'DIVORCIADO': 3,
    'OUTRO': 4,
    'VIÚVO(A)': 5,
    'UNIÃO ESTAVEL': 6,
    'SEPARADO JUDICIALMENTE': 7,
    'NENHUM': 8
}

mapeamento_sexo = {
    'F': 1,
    'M': 2
}

mapeamento_escolaridade = {
    'nan': 0,
    'Nenhum': 1,
    'Ensino Médio': 2,
    'Ensino Superior': 3,
    'Ensino Fundamental': 4,
    'Pós Graduação / Mestrado / Doutorado': 5
}

mapeamento_patrimonio = {
    'S': 1,
    'N': 2
}

mapeamento_possivel_fraude = {
    'Sim': 1,
    'Nao': 2
}

In [117]:
base_tratada['Estado_Civil'] = base_tratada['Estado_Civil'].replace(mapeamento_estado_civil)
base_tratada['Sexo'] = base_tratada['Sexo'].replace(mapeamento_sexo)
base_tratada['Escolaridade'] = base_tratada['Escolaridade'].replace(mapeamento_escolaridade)
base_tratada['Possui_Patrimonio'] = base_tratada['Possui_Patrimonio'].replace(mapeamento_patrimonio)
base_tratada['Possivel_Fraude'] = base_tratada['Possivel_Fraude'].replace(mapeamento_possivel_fraude)

In [118]:
#Exibição da base tratada
base_tratada[['Estado_Civil', 'Sexo', 'Escolaridade','Possui_Patrimonio', 'Possivel_Fraude']]

       Estado_Civil  Sexo  Escolaridade  Possui_Patrimonio  Possivel_Fraude
0                 1     2           NaN                  2                1
1                 2     2           NaN                  2                1
2                 2     1           1.0                  2                1
3                 1     2           1.0                  2                2
4                 1     1           2.0                  2                1
...             ...   ...           ...                ...              ...
80138             1     1           1.0                  2                2
80139             3     1           1.0                  2                2
80140             1     1           NaN                  2                2
80141             1     2           NaN                  2                1
80142             1     2           NaN                  2                2

[80143 rows x 5 columns]

## Tratando os dados núlos

Como agora estão na escala númerica, é possível utilizar a média e mediana para preencher os valores nulos da escolaridade

In [120]:
#Tratando os núlos da escolaridade
media_escolaridade = base_tratada['Escolaridade'].mean()
print(media_escolaridade)

1.1171372291529875

In [122]:
base_tratada['Escolaridade'].fillna(media_escolaridade, inplace=True)

In [123]:
#A coluna veio com o tipo float, para padrozinar estou deixando tudo como inteiro
base_tratada['Escolaridade'] = base_tratada['Escolaridade'].astype(int)

In [124]:
base_tratada['Escolaridade']

0        1
1        1
2        1
3        1
4        2
        ..
80138    1
80139    1
80140    1
80141    1
80142    1
Name: Escolaridade, Length: 80143, dtype: int32

In [125]:
base_tratada

,Contrato,Idade,Sexo,Valor_Renda,UF_Cliente,Perc_Juros,Prazo_Emprestimo,Data_Contratacao,Prazo_Restante,VL_Emprestimo,...,Qt_Renegociacao,Estado_Civil,Escolaridade,Possui_Patrimonio,VL_Patrimonio,QT_Parcelas_Atraso,QT_Dias_Atraso,Saldo_Devedor,Total_Pago,Possivel_Fraude
0,322090928715,42,2,4000.0,MA,17.0,140,2022-11-18,143,160000.0,...,2,1,1,2,0.0,10,284.0,187861.70,1617.36,1
1,321990634715,31,2,3000.0,MA,20.0,28,2021-07-23,0,14000.0,...,1,2,1,2,0.0,26,771.0,16615.93,1239.98,1
2,321965373715,36,1,2100.0,SP,24.0,180,2021-04-01,149,60000.0,...,1,2,1,2,0.0,27,802.0,74443.40,1346.64,1
3,321967133715,28,2,2155.0,DF,19.0,190,2021-04-10,159,180000.0,...,2,1,1,2,0.0,2,41.0,196812.41,22713.63,2
4,322098744715,21,1,4300.0,MG,22.0,100,2022-12-28,94,30000.0,...,1,1,2,2,0.0,6,162.0,36114.39,900.80,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80138,322021677715,27,1,3220.0,GO,20.0,48,2021-11-30,40,20000.0,...,5,1,1,2,0.0,0,NaN,5815.06,14227.15,2
80139,322076873715,46,1,3156.0,MG,20.0,90,2022-09-12,91,50000.0,...,0,3,1,2,0.0,0,NaN,51089.20,9441.80,2
80140,322060919715,37,1,3000.0,SP,22.0,170,2022-06-20,159,150000.0,...,1,1,1,2,0.0,0,NaN,173550.33,12481.15,2
80141,321984050715,23,2,2500.0,PR,18.0,100,2021-06-28,84,50000.0,...,0,1,1,2,0.0,21,617.0,55837.58,4165.00,1
80142,322055893715,34,2,1918.0,MA,21.0,80,2022-05-25,87,40000.0,...,1,1,1,2,0.0,4,103.0,42085.34,7171.13,2

In [127]:
#Tratando os núlos da escolaridade
media_dias_atraso = base_tratada['QT_Dias_Atraso'].mean()
print(media_dias_atraso)

475.26054316626187

In [128]:
base_tratada['QT_Dias_Atraso'].fillna(media_dias_atraso, inplace=True)

In [129]:
base_tratada['QT_Dias_Atraso']

0        284.000000
1        771.000000
2        802.000000
3         41.000000
4        162.000000
            ...
80138    475.260543
80139    475.260543
80140    475.260543
80141    617.000000
80142    103.000000
Name: QT_Dias_Atraso, Length: 80143, dtype: float64

In [130]:
#A coluna veio com o tipo float, para padrozinar estou deixando tudo como inteiro
base_tratada['QT_Dias_Atraso'] = base_tratada['QT_Dias_Atraso'].astype(int)

In [131]:
base_tratada['QT_Dias_Atraso']

0        284
1        771
2        802
3         41
4        162
        ...
80138    475
80139    475
80140    475
80141    617
80142    103
Name: QT_Dias_Atraso, Length: 80143, dtype: int32

0.0